.button-personnage {
	text-align: center; /* Centre le bouton horizontalement */
	margin: 40px 0; /* Ajoute une marge plus grande au-dessus et en-dessous pour espacer */
}

.questionnaire-button {
	display: inline-block;
	padding: 20px 40px; /* Augmente la taille du padding pour agrandir le bouton */
	margin: 20px 0;
	background-color: #FFA500; /* Couleur orange */
	color: #fff;
	text-decoration: none;
	border-radius: 30px;
	font-size: 20px; /* Augmente la taille de la police */
	transition: background-color 0.3s;
}

.questionnaire-button:hover {
	background-color: #cc8400; /* Couleur orange foncé au survol */
}








.vessel {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 50px;
    width: 30%;
    margin: auto;
}

.card {
    border: 1px solid #d1e7dd;
    padding: 20px;
    text-align: center;
    background-color: #e8f8f5;
    cursor: pointer;
    transition: transform 0.3s;
}

.card img {
    width: 100px;
    height: 100px;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.05);
}
