.button-personnage {
	text-align: center; /* Centre le bouton horizontalement */
	margin: 40px 0; /* Ajoute une marge plus grande au-dessus et en-dessous pour espacer */
}

.questionnaire-button {
	display: inline-block;
	padding: 20px 40px; /* Augmente la taille du padding pour agrandir le bouton */
	margin: 20px 0;
	background-color: #FFA500; /* Couleur orange */
	color: #fff;
	text-decoration: none;
	border-radius: 30px;
	font-size: 20px; /* Augmente la taille de la police */
	transition: background-color 0.3s;
}

.questionnaire-button:hover {
	background-color: #cc8400; /* Couleur orange foncé au survol */
}








.vessel {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 5vw; /* Gap basé sur 5% de la largeur de la fenêtre d'affichage */
    width: 35%; /* Vous pouvez ajuster cette largeur selon vos besoins */
    margin: auto;
}

.card {
    border: 1px solid #d1e7dd;
    padding: 20px;
    text-align: center;
    background-color: #e8f8f5;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Espace entre l'image et le texte */
    height: 20vh; /* Hauteur basée sur 40% de la hauteur de la fenêtre d'affichage */
}

.card img {
    width: 100%; /* L'image prendra 100% de la largeur du conteneur */
    height: auto; /* La hauteur s'ajustera automatiquement pour garder les proportions */
    object-fit: contain; /* Assurez-vous que l'image est contenue sans distorsion */
    border-radius: 15px; /* Arrondir les coins de l'image */
}

.card p {
    font-size: 1.2em; /* Augmenter la taille de la police */
    margin-top: auto; /* Assurez-vous que le texte est en bas */
    font-weight: bold;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}