/*=============== VARIABLES CSS ===============*/
:root {
	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--container-color: rgba(202, 234, 244, 0.8);
	--black: rgba(0, 0, 0);
	--blue: #007AA9;
}





*{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    width: 100%;
    height: auto;
    background: var(--container-color);
    padding-bottom: 20px;
}

.square{
    width: 100%;
    height: auto;
    margin-top: 48px;
    padding: 0px !important;
    padding-bottom: 20px;
}

.heading{
    margin-top: 20px;
    font-size: 38px;
    color: var(--blue);
    font-weight: bold;
    text-align: center;
}


.about, .p-list, .contact{
    padding: 0;
}


.about, .p-list li, .contact li{
    display: block;
    text-align: center;
    margin: 5px 0px;
    color: var(--black);
}




.copy{
    text-align: center;
    color: var(--black);
    margin-top: 20px;
}

@media only screen and (max-width:767px){
    .heading{
        text-align: left;
    }
    .square{
        padding: 0px 30px !important;
        margin-top: 10px!important;
    }

    .p-list li , .contact li{
        text-align: left;
    }

}