.personnage {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 20px; /* Espacement entre les éléments */
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh; /* Espacement vertical entre les éléments */
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrer le contenu horizontalement */
    background-color: #1E5478;
    border-radius: 50px;
    padding: 10px 20px;
    width: 70%; /* Ajustez cette largeur pour réduire la largeur de l'élément */
    cursor: pointer;
    white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
    overflow: hidden; /* Cache tout texte qui dépasse les limites du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
}

.button-row div {
    color: white;
    font-size: 16px;
    text-align: center; /* Centrer le texte */
}

.button-row .left-text {
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center; /* Centrer le texte */
}
