:root {
    /*========== Colors ==========*/
    --text-color: #1E3F66;
}

html {
    scroll-behavior: smooth;
}

.img-box {
    width: 100%;
    overflow: hidden;
    position: relative; /* Pour que les éléments à l'intérieur soient relatifs à la carte */
}

.img-box img {
    display: block;
    width: 100%; /* Adapter la largeur à 100% du conteneur */
    height: auto; /* Conserver les proportions de l'image */
    object-fit: cover;
    z-index: 1; /* Image en dessous du texte */
}

.container {
    margin-top: 2rem;
}

.grid, .grate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 2rem;
    text-align: center;
    width: 50%;
    margin: auto;
}

.card {
    position: relative; /* Permettre au contenu absolu d'être basé sur la carte */
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: 0.2s;
}

.card-content {  
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Fixer la largeur de .card-content à celle de .img-box */
    background-color: var(--text-color);
    color: #fff;
    padding: 1.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0; /* Hauteur initiale à 0 pour cacher le contenu */
    transition: height 0.3s ease; /* Animation fluide */
    z-index: 2; /* Assurer que le texte est au-dessus de l'image */
    box-sizing: border-box; /* S'assurer que le padding n'affecte pas la largeur totale */
}

/* Lors du survol de la carte, le contenu recouvre l'image */
.card:hover .card-content {
    height: 100%; /* Remplir la carte avec le contenu */
}

.card-content h1 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

@media (max-width: 1024px) {
    .grid, .grate {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-content h1 {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .grid, .grate {
        grid-template-columns: repeat(1, 1fr);
    }
    .card-content h1 {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .card-content h1 {
        font-size: 1rem;
    }
}
