:root {
	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	/* --text-color: hsl(0, 0%, 35%); */
	--text-color: #1E3F66;
	--black: #000000;
	--white: #fff;
	
}






html {
	scroll-behavior: smooth;
}

.img-box {
	width: 100%;
	overflow: hidden;
}

.img-box img {
	display: block;
	width: 100%; /* Adapter la largeur à 100% du conteneur */
	height: auto; /* Adapter la hauteur à 100% du conteneur */
	object-fit: cover;
}

.container {
	margin-top: 2rem;
}

.grid, .grate {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	grid-gap: 2rem;
	text-align: center;
	width: 50%;
	margin: auto;
}

.card {
	display: flex; /* Utiliser Flexbox pour aligner le contenu */
	flex-direction: column; /* Aligner le contenu en colonne */
	justify-content: center; /* Aligner verticalement le contenu au centre */
	overflow: hidden;
	border-radius: 0.6rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
	cursor: pointer;
	transition: 0.2s;
	position: relative;
}

.card-content {  
	display: flex; /* Utiliser Flexbox pour centrer le contenu */
	align-items: center; /* Centrer verticalement */
	justify-content: center; /* Centrer horizontalement */
	background-color: var(--text-color);
	color: var(--white);
	padding: 1.2rem 0;
	transition: height 0.7s ease;
	flex-grow: 1; /* Permettre au contenu de s'étendre pour remplir l'espace disponible */
}


.card-content h1 {
	font-size: 1rem;
	font-weight: 600;
	text-transform: capitalize;
	margin: 0; /* Enlever les marges par défaut */
}


.text-content {
    padding: 1.2rem;
    display: none; /* Hidden by default */
    color: var(--black); /* Assuming white text is preferable */
    text-align: left;
}




@media (max-width: 1024px) {
	.grid, .grate {
		grid-template-columns: repeat(2, 1fr);
	}
	.card-content h1 {
		font-size: 1rem;
	}
}

@media (max-width: 767px) {
	.grid, .grate {
		grid-template-columns: repeat(1, 1fr);
	}
	.card-content h1 {
		font-size: 1rem;
	}
}

@media (max-width: 480px) {
	.card-content h1 {
	  font-size: 1rem;
	}
  }