.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: 0.2s;
}

.img-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-box img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--text-color);
    color: #fff;
    padding: 1.2rem 0;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.card:hover .card-content {
    height: 100%; /* Recouvrir uniquement l'image */
}

.card-content h1 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

/* Média queries pour adapter les cartes selon la taille de l'écran */
@media (max-width: 1024px) {
    .grid, .grate {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-content h1 {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .grid, .grate {
        grid-template-columns: repeat(1, 1fr);
    }
    .card-content h1 {
        font-size: 1rem;
    }
}
